@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1640358178305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31dianhua:before {
  content: "\f0203";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-camera:before {
  content: "\e698";
}

.icon-brightness:before {
  content: "\e69b";
}

